<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
<meta charset = "ISO-8859-1"/>
<title>Title of the document</title>
</head>


<body>
	<p th:text=${msg} />
	<h2>Product Form</h2>

	<p th:text="${msg}" style="color:green"></p>

	<form th:action="@{/product}" th:object="${product}" method="POST">
	    <table>
	        <!-- Product ID -->
	        <tr>
	            <td>Product ID</td>
	            <td>
	                <input type="text" th:field="*{pid}" />
	            </td>
	            <td th:if="${#fields.hasErrors('pid')}" th:errors="*{pid}" style="color:red"></td>
	        </tr>

	        <!-- Product Name -->
	        <tr>
	            <td>Product Name</td>
	            <td>
	                <input type="text" th:field="*{pname}" />
	            </td>
	            <td th:if="${#fields.hasErrors('pname')}" th:errors="*{pname}" style="color:red"></td>
	        </tr>

	        <!-- Product Price -->
	        <tr>
	            <td>Product Price</td>
	            <td>
	                <input type="text" th:field="*{price}" />
	            </td>
	            <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color:red"></td>
	        </tr>

	        <!-- Submit Button -->
	        <tr>
	            <td colspan="2">
	                <button type="submit">Save</button>
	            </td>
	        </tr>
	    </table>
	</form>

	</body>

</html> 